.bigbtn img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: solid 2px silver;
  -webkit-box-shadow: 1pt 1pt 2pt 2pt #111;
  -moz-box-shadow: 1pt 1pt 2pt 2pt #111;
  box-shadow: 1pt 1pt 2pt 2pt #111;
  object-fit: contain;
  background: #222;
}
.btnContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.btnContainer a {
  margin: 8px;
  position: relative;
  width: 128px;
  height: 128px;
}
.ccname {
  position: absolute;
  bottom: -1px;
  left: 6px;
  font-size: 24px;
  color: whitesmoke;
  font-family: Anuphan-Light, airstrike;
  text-shadow: 0 0 2px black;
}
@font-face {
  font-family: "airstrike";
  src: url("../webfonts/airstrike.ttf") format("truetype");
}

@font-face {
  /* Thai Normal Dialogue */
  font-family: 'Anuphan-Light';
  src: url('https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/Anuphan/Anuphan-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  unicode-range: U+0E00-0E7F;
}
.btnContainer a:active img {
  /*-webkit-box-shadow: 0pt 0pt 1pt 1pt #111;
  -moz-box-shadow: 0pt 0pt 1pt 1pt #111;
  box-shadow: 0pt 0pt 1pt 1pt #111;*/
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btnContainer a:active {
  transform: translateY(2px);
}
#bweeeeh {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
  position: absolute;
  background-image: url("../images/BWEEEEEEH.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  z-index: -1;
}
h2 {
  font-weight: 300;
  font-size: 2em;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;
  display: inline-block;
  border-top-right-radius: 6px; /* Adjust the radius as needed */
  border-bottom-right-radius: 6px;
  background: var(--main-background-color);
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.bigbtn:after {
  content: attr(data-label);
  color: var(--main-text-color);
  position: absolute;
  transform: translate(0, 0.75em);
  font-weight: 600;
  width: 100%;
  text-align: center;
  top: 100%;
  left: 0;
}
#links a {
  margin-bottom: 2.5em;
}
