#itemList {
	display: flex;
	flex-wrap: wrap;
	--item-height: 25em;
	--item-width: calc(var(--item-height) * 0.705);
	justify-content: center;
}
.rl_item * {
	box-sizing: border-box;
}
.rl_item > * {
	width: 100%;
}
.rl_item {
	height: var(--item-height);
	width: var(--item-width);
	/*border: 1px solid #8888;*/
	/*border-radius: 0.25em;*/
	margin: 0.4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #0005;
	overflow: hidden;
	color: #ddd;
	box-shadow: 0 0 0.5em #000;
}

.rl_title {
	background: #0000;
	width: 100%;
	height: 1.8em;
	line-height: 1.8em;
	font-size: 1.5em;
	vertical-align: middle;
	text-align: center;
	fill: #fffd;
	align-self: flex-start;
	margin-bottom: 0.33333em;
	position: relative;
}
.rl_title svg,
.rl_title .mtl_title {
	height: 100%;
	width: 100%;
}
.rl_title .mtl_title {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
.rl_title .mtl_title p {
	line-height: 0.8em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	position: absolute;
}
html.translated-ltr .rl_title svg,
html.translated-rtl .rl_title svg {
	display: none;
}
html.translated-ltr .rl_title .mtl_title,
html.translated-rtl .rl_title .mtl_title {
	display: initial;
}
.rl_img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}
.rl_img_wrap.unknown .rl_img {
	filter: brightness(0);
}
.rl_img_wrap.unknown:after {
	content: "";
	background-image: url("../images/rogue_locked.png");
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	top: 0;
	left: 0;
}
.rl_item.capsule .rl_img {
	opacity: 0;
}
.rl_item.capsule .rl_title {
	background: #0006;
}
.rl_item.capsule .rl_desc {
	background: #000a;
}
.rl_item.smallText .rl_inner > *:not(.rl_title),
.rl_item.smallText .rl_effect {
	font-size: 0.75em;
}
.rl_img_wrap {
	min-height: 0;
	position: relative;
}

.rl_effect,
.rl_desc {
	padding: 0.5em;
	width: 100%;
	text-align: center;
}
.rl_unlock {
	padding: 0.5em 1.5em;
	width: 100%;
	text-align: center;
	position: relative;
	background: #000a;
	border: 1px dotted #fff8;
}
.rl_unlock:before {
	content: "\f09c";
	font-weight: 900;
	position: absolute;
	transform: translateY(-50%) translateX(50%);
	left: 0;
	top: 50%;
	font-family: "Font Awesome 5 Free";
}
.rl_effect {
	background: #0006;
	background-image: var(--btn-url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.rl_item[rarity="n"] .rl_effect {
	color: #222;
}
.btnPanel {
	padding-bottom: 8px;
}
.rl_inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 0;
	background-image: var(--bg-url);
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1;
	position: relative;
}
.rl_inner_spacer {
	flex: 1;
	width: 100%;
	min-height: 3px;
	max-height: calc(var(--item-height) * 0.1);
	background-image: var(--top-url);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 3px;
}
.rl_bottom_trim {
	background-image: var(--bot-url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 3px;
	width: 100%;
	flex: 0;
}

.variant_selectors {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 2.7em; /*below titlebar which is 2.7em */
	right: 0;
	padding-top: 10px;
	z-index: 1;
}

.variantBtn {
	margin-bottom: 8px;
	padding: 8px 12px;
	background-color: rgba(0, 0, 0, 0.4);
	color: #ddd;
	border: 1px solid #ddd;
	border-right: none;
	border-radius: 4px 0 0 4px;
	cursor: pointer;
	position: relative;
	user-select: none;
}

.variantBtn:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-color: #fff;
}

.variantBtn:active,
.variantBtn.checked {
	background-color: rgba(255, 255, 255, 0.4);
	border-color: #fff;
}
#rlfilters {
	display: inline-block;
	width: 100%;
	padding-top: 0.25em;
	padding-left: 0.25em;
}
#rlfilters.hidden {
	display: none;
}

#ascensionDisp {
	width: 1em;
	display: inline-block;
	text-align: right;
}
