.stageMap {
  --color_floor: dimgrey;
  --color_roof: #999;
  --color_forbidden: #222;
  border-spacing: 2px;
  border-collapse: separate;
  font-size: 0.5em;
}
.stageMap td {
  width: 2em;
  height: 2em;
  background-color: lime;
  background-size: cover;
  background-position: center;
  position: relative;
}
.stageMap td:before,
.stageMap td:after {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}
/* data-deploy = 0,1,3 */
.stageMap td[data-height="0"],
.stageMap td[data-height="LOWLAND"] {
  background-color: var(--color_floor);
  /* background-color: transparent; */
}
/* data-deploy = 2 */
.stageMap td[data-height="1"],
.stageMap td[data-height="HIGHLAND"] {
  background-color: var(--color_roof);
  /* background-color: transparent; */
}
/* .stageMap td[data-height="1"]:before { */
/* content: ""; */
/* background-image: url("../tiles/tile_high.png"); */
/* z-index:-1; */
/* } */

/* .stageMap td[data-height="0"]:before { */
/* content: ""; */
/* background-image: url("../tiles/tile_ground.png"); */
/* z-index:-1; */
/* } */

.stageMap td[data-tile="tile_fence"] {
  box-shadow: inset 0 0 0 0.1875em var(--color_roof);
}

.stageMap td[data-tile="tile_hole"] {
  background: radial-gradient(
    var(--color_forbidden) 70%,
    var(--color_floor) 75%
  );
  box-shadow: inset 0 0 0 0.125em var(--color_floor);
}
/* spawn/base */
.stageMap td[data-tile="tile_start"] {
  box-shadow: inset 0 0 0 0.1875em #ff3c3c;
  /* background-color: #ff3c3c; */
}
.stageMap td[data-tile="tile_flystart"] {
  box-shadow: inset 0 0 0 0.1875em #ff3c3c;
  /* background-color: darkred; */
}
.stageMap td[data-tile="tile_end"] {
  box-shadow: inset 0 0 0 0.1875em #409eff;
  /* background-color: #409eff; */
}

/* filter: brightness(0.5) sepia(1) saturate(10000%) hue-rotate(328deg); */

/* teleporter/stairwell */
.stageMap td[data-tile="tile_telout"],
.stageMap td[data-tile="tile_telin"] {
  background-color: var(--color_forbidden);
  box-shadow: inset 0 0 0 0.1875em var(--color_floor);
}

/* undeployable texture */
.stageMap td[data-tile="tile_infection"][data-deploy="0"],
.stageMap td[data-tile="tile_floor"] {
  background-image: url("../tiles/forb.png");
}
.stageMap td[data-tile="tile_start"]:after,
.stageMap td[data-tile="tile_end"]:after {
  content: "";
  background-image: url("../tiles/base.png");
}
.stageMap td[data-tile="tile_flystart"]:after {
  content: "";
  background-image: url("../tiles/drone.png");
}
.stageMap td[data-tile="tile_gazebo"]:after {
  content: "";
  background-image: url("../tiles/tile_gazebo.png");
}
.stageMap td[data-tile="tile_grass"]:after {
  content: "";
  background-image: url("../tiles/grass2.png");
}

.stageMap td[data-tile="tile_infection"]:after {
  content: "";
  background-image: url("../tiles/tile_infection.png");
}
.stageMap td[data-tile="tile_volcano"]:after {
  content: "";
  background-image: url("../tiles/volcano3.png");
}
.stageMap td[data-tile="tile_bigforce"]:after {
  content: "";
  background-image: url("../tiles/tile_bigforce.png");
}
.stageMap td[data-tile="tile_telin"]:after {
  content: "";
  background-image: url("../tiles/tile_telin.png");
}
.stageMap td[data-tile="tile_telout"]:after {
  content: "";
  background-image: url("../tiles/tile_telout.png");
}
.stageMap td[data-tile="tile_defup"]:after {
  content: "";
  background-image: url("../tiles/tile_defup.png");
}
.stageMap td[data-tile="tile_healing"]:after {
  content: "";
  background-image: url("../tiles/tile_healing.png");
}

/* undeployable tiles, must apply these rules last */
.stageMap td[data-tile="tile_forbidden"] {
  background-color: var(--color_forbidden);
  background-image: none;
}
.stageMap td[data-tile="tile_empty"] {
  background-color: #0002;
  background-image: none;
}
.stageMap td[data-tile="tile_empty"]:after,
.stageMap td[data-tile="tile_forbidden"]:after,
.stageMap td[data-tile="tile_empty"]:before,
.stageMap td[data-tile="tile_forbidden"]:before {
  content: none;
}
