#itemList {
	display: flex;
	flex-wrap: wrap;
	--item-height: 25em;
	--item-width: calc(var(--item-height) * 0.675);
	justify-content: center;
}
.rl_item * {
	box-sizing: border-box;
}
.rl_item {
	height: var(--item-height);
	width: var(--item-width);
	border: 1px solid #fffd;
	border-radius: 0.5em;
	margin: 0.25em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: #0005;
}

.rl_title {
	background: #0008;
	width: 100%;
	height: 2em;
	line-height: 2em;
	font-size: 1.5em;
	border-radius: 0.334em 0.334em 0 0;
	vertical-align: middle;
	text-align: center;
	fill: #fffd;
}
.rl_title svg {
	height: 100%;
	width: 100%;
}
.rl_img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}
.rl_img.unknown {
	filter: brightness(0);
}
.rl_img_wrap {
	min-height: 10%;
}

.rl_effect,
.rl_desc {
	padding: 0.5em;
	width: 100%;
}
.rl_effect {
	background: #0006;
	border-radius: 0 0 0.5em 0.5em;
}
