:root {
    --story-width: min(60em,95vw);
    --dialog-size: 6em;
}
.scene {
    width: 100%;
    padding-top: calc(var(--dialog-size) / 2);
    min-height: calc(var(--story-width) / 16 * 9 - var(--dialog-size) / 2);
    background-repeat: repeat-y;
    background-size: contain;
    display: flex;
    flex-direction: column;
    
}
#storyDisp {
 display:flex;
 flex-direction: column; 
 max-width: var(--story-width);
 margin: 0 auto;
 background: #222;
}
.dialog {
  display: flex;
  padding: 0 2em;
  margin: .4em 0;
  justify-content: space-between;
}
.dialog.hidden {
    display: none;
}
.avatar-spacer,
.avatar {
    width: var(--dialog-size);
    height: var(--dialog-size);
    opacity: .75;
    margin: 0 .5em;
    overflow: hidden;
    position: relative;
    border-radius: .3em;
}
.avatar.active {
    opacity: 1;
}
.avatar.unknown img {
    filter: brightness(0);
}
.avatar img {
    width: 100%;
    height: 100%;
}
.avatar.npc img{
    position: absolute;
    /* width: initial; */
    /* height: initial; */
    /* margin: auto; */
    /* width: 200px; */
    /* height: 200px; */
    /* transform: translate(-25%,25%) scale(1.5); */
    width: 300px;
    height: 300px;
    transform: translate(-33%, 0);
}
.text {
    background: #000b;
    flex: 1 1;
    padding: .2em .5em;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: .3em;
}
.text:before {
    content: attr(data-name);
    color: var(--name-color);
    /* font-weight: 600; */
    font-size: .8em;
    margin-bottom: .2em;
    margin-left: -.3em;
}
.decision {
    border: 1px solid white;
    cursor: pointer;
    margin: .2em 0;
    padding: .2em;
    border-radius: .25em;
}
.decision.selected {
    color: #000;
    background: #aaa;
}
.story_nav:hover {
    color: #777;
    cursor: pointer;
}
#topBtn {
    display: none;
    position: fixed;
    font-size: 4em;
    bottom: .25em;
    right: .25em;
    opacity: .75;
    z-index: 999;
    cursor: pointer;
}
#topBtn:hover {
    opacity: 1;
}
.storyNav {
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin: .2em 0;
}
.storyNav.top {
    font-size: 2em;
}
.storyNav .spacer {
    flex-basis: 1em;
}
.storyName {
    text-align:center;
    font-size: 2em;
    background: #222;
    padding: .25em;
}
.storySelect {
    font-size: 1.2em;
    padding-right: .3em;
}