.cardContainer img {
  width: 256px;
  height: 144px;
  display: block;
}

.riskHeader,
hr {
  flex-basis: 100%;
}

hr {
  border: 0;
  /* margin: 0 0 .2rem 0; */
  margin: 0;
  height: 2px;
  background-color: white;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.riskContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 16px;
  margin-bottom: 8px;
}
.riskHeader {
  position: -webkit-sticky;
  position: sticky;
  top: calc(10px + var(--topNav-height));
  font-size: 2em;
  z-index: 2;
  opacity: 0.9;
  margin: 0 0 0.5rem 0;
  width: 100%;
  /* text-shadow: 0 0 6px var(--main-background-color); */
}
.riskHeader::before {
  content: "RISK " attr(data-risk);
  padding: 0 8px;
}
body.clear-mode .riskHeader::after {
  content: attr(data-count) " clears";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.5em;
  transform: translateY(75%);
  /* padding: 0 8px; */
}
body.clear-mode .riskHeader[data-count="1"]::after {
  content: attr(data-count) " clear";
}

.cardContainer {
  flex-direction: column;
  margin: 0.5em;
  position: relative;
  z-index: 1;
}
.gslide .gslide-inner-content .dupe-thumbs > img,
.cardContainer,
.cardContainer img,
.cardContainer:after {
  transition: transform 0.1s ease-in-out, filter 0.1s,
    z-index 0.1s cubic-bezier(0, 1, 1, 0);
}
.cardContainer:hover {
  transition: transform 0.1s ease-in-out, filter 0.1s, z-index 0s;
}
.dupe-thumbs > img[data-group="2"],
.cardContainer[data-group="2"]:before,
.cardContainer[data-group="2"] img,
.gslide[data-group="2"] .gslide-media {
  --shadow-color: var(--week2-color);
}
.dupe-thumbs > img[data-group="1"],
.cardContainer[data-group="1"]:before,
.cardContainer[data-group="1"] img,
.gslide[data-group="1"] .gslide-media {
  --shadow-color: var(--week1-color);
}
.dupe-thumbs > img[data-group="0"],
.cardContainer[data-group="0"]:before,
.cardContainer[data-group="0"] img,
.gslide[data-group="0"] .gslide-media {
  --shadow-color: var(--day1-color);
}
.dupe-thumbs > img[data-group],
.cardContainer[data-group] img,
.gslide[data-group] .gslide-media {
  box-shadow: 0 0 2pt 1pt var(--shadow-color);
}
/* stack effect for dupes */
.cardContainer[data-dupe][data-group]:before {
  box-shadow: 0 0 2pt 1pt var(--shadow-color);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #444;
  left: 0.33em;
  top: 0.33em;
  z-index: -1;
  filter: brightness(0.7);
}

.gslide-media {
  position: relative;
}

.gslide-media:before {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.gslide {
  flex-direction: column;
}
.gslide.center:before {
  content: "";
  flex-basis: var(--spacer-size);
  flex-shrink: 1;
  order: -999;
}
.gslide-description {
  flex: 1 0 !important;
  /* max-width: 100vw !important; */
}
.gslide {
  max-height: 100vh;
  --spacer-size: 0px;
}

.gslide .gslide-inner-content .gslide-description {
  width: auto;
}

.gslide .gslide-inner-content .dupe-thumbs {
  display: flex;
}
.gslide .gslide-inner-content .dupe-thumbs > img {
  margin: 0.3em;
  height: min(166px, 20vh);
}
@media (hover: hover) {
  .gslide .gslide-inner-content .dupe-thumbs > img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
.gslide .gslide-inner-content .gslide-description .gdesc-inner {
  padding: 0;
  font-size: 1.2em;
  line-height: 1.2em;
  text-align: center;

  /* add styling from when it was a button */
  border: 1px solid white;
  padding: 0.2em 0.3em;
  border-radius: 0.2em;
  color: var(--main-text-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-top: 0.5em;
}

.glightbox-clean .gslide-inner-content .gslide-description {
  background: 0;
}

.legend.week1 {
  text-shadow: 0px 0px 1px var(--week1-color);
  color: var(--week1-color);
}

.legend.day1 {
  text-shadow: 0px 0px 1px var(--day1-color);
  color: var(--day1-color);
}

.legend.week2 {
  text-shadow: 0px 0px 1px var(--week2-color);
  color: var(--week2-color);
}
@media (hover: hover) {
  .cardContainer:hover {
    transform: scale(1.12);
    z-index: 2;
  }
  body.icon-mode .cardContainer:hover {
    transform: scale(1.08);
  }
  body.soul-mode .cardContainer:hover:after {
    /* transform: translate(calc(-256px * 1.05 + 6px * 1.05),calc(144px * 1.05 - 100% - 6px * 1.05)) scale(1.1); */
  }
}

html {
  /* margin-left: calc(100vw - 100%); */
  /* width:100vw; */
  /* overflow-x:hidden; */
  overflow-y: scroll;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --nameplate-height: 16px;
  --main-background-color: #262626;
  --main-highlight-color: #444;
  --operator-image-size: 45px;
  --large-operator-image-size: min(5.4vw, 83px);
  --day1-color: #c69a24;
  --week2-color: #d63e3e;
  --week1-color: #d6d6d6;
  --main-text-color: #c8c8c8;
  --topNav-height: 2.5rem;
  --operator-shadow-color: #2d2d2d;
  --operator-selected-scale: 1.1;
  --operator-skill-selected-color: #ff2020;
}

.operatorCheckbox {
  display: none;
  flex-direction: column;
  width: var(--operator-image-size);
  height: calc(var(--operator-image-size) + var(--nameplate-height));
  padding-bottom: 0px;
  margin: 0.3em;
  background-color: rgb(45, 45, 45);
  color: black;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  position: relative;
  image-rendering: -webkit-optimize-contrast;
  box-shadow: 1px 1px 2px var(--operator-shadow-color);
}

.operatorCheckbox.show {
  display: flex;
}

#checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 4px;
  /* width: calc(100% - (100vw - 100%)); */
  width: calc(100vw - 50px);
}

#cards {
  width: calc(100vw - 40px);
}

#checkboxes.filtered {
  outline-color: white;
}

.operatorCheckbox img:not(.skimg) {
  width: 100%;
  height: calc(100% - var(--nameplate-height));
}
.operatorCheckbox img {
  opacity: 0.75;
}
.operatorCheckbox .opskillCheckbox._selected,
.operatorCheckbox._selected > img {
  opacity: 1;
}

.opskillCheckbox._selected,
.operatorCheckbox._selected {
  box-shadow: 0 0 2pt 1pt #dddddd, 1px 1px 2px var(--operator-shadow-color);
  background-color: rgb(35, 35, 35);
  transform: scale(var(--operator-selected-scale));
}
@media (hover: hover) {
  .operatorCheckbox:hover {
    background-color: rgb(25, 25, 25);
    transform: scale(1.1);
    z-index: 1;
    /* image-rendering: -moz-crisp-edges; */
    /* image-rendering: -o-crisp-edges; */
    /* image-rendering: -webkit-optimize-contrast; */
    /* image-rendering: crisp-edges; */
    /* -ms-interpolation-mode: nearest-neighbor; */
    box-shadow: 1px 1px 3px 1px var(--operator-shadow-color);
  }
  .operatorCheckbox._selected:hover {
    box-shadow: 0 0 2pt 1pt #dddddd,
      1px 1px 3px 1px var(--operator-shadow-color);
  }
}

.operatorCheckbox .name {
  height: var(--nameplate-height);
  line-height: var(--nameplate-height);
  text-align: center;
  color: white;
  fill: white; /* for text element */
  font-family: "Novecentosanswide Normal", Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: calc(0.6 * var(--nameplate-height));
  cursor: pointer;
  overflow: hidden;
}

.operatorCheckbox .name svg {
  width: 100%;
  height: 100%;
}

.operatorCheckbox > .data1,
.operatorCheckbox > .data2 {
  position: absolute;
  color: white;
  border: 1px solid grey;
  min-width: 1em;
  line-height: 1em;
  font-size: 0.9em;
  text-align: center;
  background: rgba(128, 128, 128, 0.8);
}

.operatorCheckbox > .data1 {
  right: 0;
}

.operatorCheckbox > .data2 {
  left: 0;
}

.riskHeader span {
  padding: 0 8px;
}
body,
.riskHeader,
#filters,
#topNav {
  background-color: var(--main-background-color);
  background: url("../images/noise.svg"), #333;
}
body {
  margin: 0px;
  color: var(--main-text-color);
}

.button,
.sliderBox {
  display: inline-block;
  border: 1px solid white;
  padding: 0.2em;
  border-radius: 0.2em;

  transition: all 0.1s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: var(--main-text-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.button {
  cursor: pointer;
}
.rightButton,
.rightButton > .button {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-decoration: none;
}
.iconButton {
  width: 1.2rem;
  height: 1.2rem;
  /* font-size: 1rem; */
  /* align-self: flex-end; */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* line-height: 1rem; */
  /* text-justify: center; */
  display: flex;
  text-decoration: none;
}

@media (hover: hover) {
  /* .gslide[data-dupe] .gslide-description:hover, */
  .button:not(.disabled):hover {
    color: black;
    background-color: white;
    text-shadow: none;
  }
}

/* .gslide[data-dupe] .gslide-description:active, */
.button:not(.disabled):active,
.button.checked {
  color: black;
  background: #cccccc;
}

.button.toggled,
.button.disabled {
  border: 1px solid gray;
}

.button.disabled {
  background: dimgrey;
}

.button.toggled.legend {
  text-shadow: none;
  opacity: 0.5;
}

.rightButton {
  align-self: center;
  margin-right: 0.25em;
  flex-shrink: 0;
}

.fa-home {
  /*transform: translateX(-4%);*/
}
#topNav,
#filters,
#cards {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
#topNav {
  background: var(--main-background-color);
  /*overflow: hidden;*/
  position: fixed;
  top: 0;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  height: var(--topNav-height);
  padding: 5px;
  padding-left: 8px;
}
#filters {
  z-index: 3;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 0.25em;
  top: calc(10px + var(--topNav-height));
  transition: top 0.1s ease-in-out;
  -o-transition: top 0.1s ease-in-out;
  -ms-transition: top 0.1s ease-in-out;
  -moz-transition: top 0.1s ease-in-out;
  -webkit-transition: top 0.1s ease-in-out;
}
#filters.hidden {
  top: -1000%;
}

@media (hover: hover) {
  body #filters.hidden.canSlide:hover,
  body #filters.hidden.canSlide.active,
  body #topNav:hover + #filters.hidden.canSlide {
    top: calc(10px + var(--topNav-height));
  }
  body #filters.canSlide,
  body #filters:not(.canSlide):not(.hidden) {
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    box-shadow: 0 3px 8px #222222;
  }
}

#checkboxes.hidden {
  display: none;
}

#filters {
  display: inline-block;
}

.filterSlider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  /* height: 25px; /* Specified height */
  height: 1em;
  background: #808080; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 0.5em;
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.filterSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  background: #dddddd;
  cursor: pointer;
  border-radius: 50%;
}

.filterSlider::-moz-range-thumb {
  width: 1.3em;
  height: 1.3em;
  background: #dddddd;
  cursor: pointer;
  border-radius: 50%;
}

#raritySlider {
  width: 7em;
}
#opcountSlider {
  width: 13em;
}
#opcountDisp {
  width: 1em;
  display: inline-block;
  text-align: right;
}

img:not(.chartjs-size-monitor).hidden:not(.forceShow),
div:not(.chartjs-size-monitor).hidden:not(.forceShow) {
  display: none;
}
#legend {
  margin: 0 0.25rem;
  flex-grow: 1;
  flex-shrink: 0;
  align-self: center;
  display: flex;
}
.nav-spacer {
  max-width: 1.25rem;
  flex: 1 1;
}

#legend > * {
  margin: 0 0.125em;
  flex-shrink: 0;
}
#storyTitle,
#pageTitle {
  font-size: min(2.3em, 3.2vw);
  line-height: var(--topNav-height);
  overflow: hidden;
  flex-shrink: 999;
  white-space: nowrap;
}
#storyTitle {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (max-width: 720px) {
  #topNav.showStoryTitle div.nav-left {
    display: none; /* Hide nav-left on smaller screens */
  }
  #topNav.showStoryTitle #storyTitle {
    padding-left: 0;
  }
}

body {
  margin-top: calc(10px + var(--topNav-height));
}

body.soul-mode .glightbox-container .gslide.current .gslide-media::after {
  font-size: 1.5em;
  content: "SOVL: " attr(data-soul);
  position: absolute;
  font-weight: 500;
  text-align: center;
  margin: auto;
  color: #0ff;
  width: 100%;
  pointer-events: none;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
body.soul-mode .cardContainer::after {
  content: attr(data-soul);
  position: absolute;
  /* transform: translate(calc(-256px + 6px),calc(144px - 100% - 6px)); */
  left: 0;
  bottom: 0;
  padding: 0.25em;
  pointer-events: none;
  font-weight: 700;
  color: #0ff;
  background: #000a;
}
.gslide:not(.current) .gslide-description,
.gslide:not([data-dupe]) .gslide-description {
  border-color: 0;
  pointer-events: none;
}
body.soul-mode #deco {
  position: fixed;
  width: 100%;
  height: calc(100% - var(--topNav-height) - 10px);
  box-shadow: inset 0 0 3em 0em #0ff2;
  z-index: 99;
  pointer-events: none;
}

#deco {
  display: none;
}

#filters > div:first-child {
  margin-left: 0.25em;
}

.clearView {
  --spacing: min(0.5em, max(3px, 0.5vw));
}
.clearView.hidden {
  display: none;
}
.clearView {
  display: flex;
  flex-wrap: nowrap;
  background: linear-gradient(0deg, #555555, #666666);
  margin: 0.15em 0;
  align-items: center;
  border-radius: 0.2em;
  padding: var(--spacing);
  gap: var(--spacing);
}
.cardContainer .clearView {
  display: none;
}
.clearView .opImgWrapper {
  position: relative;
}
.clearView .opImg {
  height: var(--large-operator-image-size);
  width: var(--large-operator-image-size);
  background: #0004;
  border-radius: 0.2em;
  box-shadow: inset 0 0 1pt 1pt #0002;
}
.clearView .opImg.supportOp {
  background: #c27f0baa;
}
.clearView .cardContainer img {
  height: var(--large-operator-image-size);
  width: calc(16 / 9 * var(--large-operator-image-size));
}
.clearView .cardContainer {
  margin: 0;
  margin-right: var(--spacing);
}

body.icon-mode .riskContainer {
  flex-direction: column;
}

#filterButtons {
  display: flex;
  flex-wrap: wrap;
}
#filterButtons > * {
  margin: 0.125em;
}
.opImgWrapper[data-rarity]:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.2em;
  border-bottom: 0.2em solid black;
}
.opImgWrapper[data-rarity]:after {
  border-bottom: 0.2em solid rgb(var(--base-color));
}

.skimg {
  height: calc(var(--large-operator-image-size) / 3);
  width: calc(var(--large-operator-image-size) / 3);
  position: absolute;
  top: 0;
  left: 0;
  /* border-radius: .2em 0 0 0; */
  /* box-shadow: 1px 1px 1px #666666; */
  transform: translate(-15%, -15%);
  box-shadow: 0 0 0.1em 0.1em #0006;
  border-radius: 0.2em;
}
.opskills {
  position: absolute;
  display: none;
  bottom: 0;
  left: 50%;
  /* z-index: 1; */
  transform: translate(-50%, 100%);
  border-radius: 0.3em;
  border: 1px solid #aaa;
  background: var(--main-background-color);
  padding: 0.2em;
  cursor: initial;
}
.operatorCheckbox .opskills > img {
  height: calc(var(--operator-image-size) / 1.5);
  width: calc(var(--operator-image-size) / 1.5);
  margin: 0.15em;
  cursor: pointer;
}
.operatorCheckbox._selected[data-selsk]:not([data-selsk="0"]):after {
  content: "s";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--operator-skill-selected-color);
  padding-left: 0.15em;
}
.operatorCheckbox._selected[data-selsk]:not([data-selsk="0"]) {
  box-shadow: 0 0 2pt 1pt var(--operator-skill-selected-color),
    1px 1px 2px var(--operator-shadow-color);
}
@media (hover: hover) {
  .operatorCheckbox._selected[data-selsk]:not([data-selsk="0"]):hover {
    box-shadow: 0 0 2pt 1pt var(--operator-skill-selected-color),
      1px 1px 3px 1px var(--operator-shadow-color);
  }
}
/* @media (hover: hover) { */
.operatorCheckbox._selected:hover .opskills {
  display: flex;
}
.operatorCheckbox._selected:hover {
  z-index: 1;
}
/* } */

/* for centering in nav bar */
.nav-right,
.nav-left {
  flex: 1;
  display: flex;
  min-width: -webkit-min-content;
}
.nav-right {
  justify-content: flex-end;
}

.nav-dropdown {
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  /*  margin-top: -5px;
  margin-bottom: -5px;*/
  /* padding: 0.2em 0;  this is to match the inner .button's padding. */
}

.nav-dropdown .dropbtn {
  /*  color: var(--main-text-color);
  background-color: inherit;*/
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  max-height: 1.2rem; /* to match other buttons */
  min-width: 2.7rem;
}
.nav-dropdown .dropbtn i {
  margin-left: 0.2em;
}
.nav-dropdown .dropbtn * {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}
.nav-dropdown:hover .dropdown-content,
.nav-dropdown .dropdown-content.show {
  display: block;
}
.dropdown-content div:hover {
  background-color: white;
  color: black;
}

/* Dropdown content (hidden by default) */
.nav-dropdown .dropdown-content {
  display: none;
  top: 100%;
  position: absolute;
  background-color: var(--main-highlight-color);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.2em;
}

/* Links inside the dropdown */
.dropdown-content div {
  float: none;
  padding: 0.2em;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 0.2em;
}
#homeButton::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f015";

  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

#red-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 4px;
  height: calc(var(--operator-image-size) * var(--operator-selected-scale));
}
#red-btn {
  width: calc(var(--operator-image-size) * var(--operator-selected-scale));
  height: calc(var(--operator-image-size) * var(--operator-selected-scale));
  transform: scale(calc(1 / var(--operator-selected-scale)));
  background-image: url("../images/red.png");
  background-size: cover;
  background-color: rgb(45, 45, 45);
  border-radius: 0.15em;
}
@media (hover: hover) {
  #red-btn:hover {
    background-color: rgb(25, 25, 25);
    transform: none;
    z-index: 1;
    box-shadow: 1px 1px 3px 1px var(--operator-shadow-color);
  }
}
#red-btn._selected {
  box-shadow: 0 0 2pt 1pt var(--operator-skill-selected-color),
    1px 1px 2px var(--operator-shadow-color);
  background-color: rgb(35, 35, 35);
  transform: none;
}

.operatorCheckbox[data-rarity="5"],
.opImgWrapper[data-rarity="5"] {
  --base-color: 255, 102, 0;
}
.operatorCheckbox[data-rarity="4"],
.opImgWrapper[data-rarity="4"] {
  --base-color: 255, 174, 0;
}
.operatorCheckbox[data-rarity="3"],
.opImgWrapper[data-rarity="3"] {
  --base-color: 219, 177, 219;
}
.operatorCheckbox[data-rarity="2"],
.opImgWrapper[data-rarity="2"] {
  --base-color: 0, 178, 246;
}
.operatorCheckbox[data-rarity="1"],
.opImgWrapper[data-rarity="1"] {
  --base-color: 220, 229, 55;
}
.operatorCheckbox[data-rarity="0"],
.opImgWrapper[data-rarity="0"] {
  --base-color: 159, 159, 159;
}
