:root {
	--nameplate-height: 20px;
	--operator-image-size: 75px;
}

.operatorCheckbox {
	background-color: rgb(25, 25, 25);
}

.operatorCheckbox img {
	opacity: 1;
}

.operatorCheckbox:hover {
	transform: none;
	image-rendering: auto;
}
.operatorCheckbox,
.operatorCheckbox .name {
	cursor: default;
}

#info {
	padding: 1em 0 1em 0;
}

#info,
#sort {
	padding-left: 8px;
}

html {
	overflow-y: auto;
}

#pageTitle {
	flex-grow: 1;
}

/* body { */
	/* margin: 0 8px; */
/* } */
